<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>|Items|</title>
</head>
<body>
    <table style="width: 500px" border="1px solid #000" cellspacing="0">
        <tr>
            <th> Item ID </th>
            <th> Name </th>
            <th> Price </th>
        </tr>
        <tr>
            <td th:text="${item.getId()}" />
            <td th:text="${item.getItemName()}" />
            <td th:text="${item.getPrice()}" />
        </tr>
    </table>
</body>
</html>