<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/invoice.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>|Items|</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
            function selectAll() {
                var selectElement = document.getElementById("selectedItems");
                var optionsCount = selectElement.options.length;

                for (var i = 0; i < optionsCount; i++) {
                    selectElement.options[i].selected = selectAll;
                }
            }
        /*]]>*/

        function addItemsToList() {
            var selectElement = document.getElementById("allItems");
            var selectedItemValue = selectElement.options[selectElement.selectedIndex].value;
            var selectedItemText = selectElement.options[selectElement.selectedIndex].text;

            var opt = document.createElement('option');
            opt.value = selectedItemValue;
            opt.innerHTML = selectedItemText;
            document.getElementById("selectedItems").appendChild(opt);
        }
    </script>
</head>
<body>
    <script>

    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> Invoice </h2>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <form>
                    <select multiple="multiple" id="allItems">
                        <option th:each="item, stat : ${itemList}"
                                th:value="${item.getId()}"
                                th:text="${item.getItemName()}" />
                    </select>
                </form>
            </div>
            <div class="col-md-2">
                <button onclick="addItemsToList()" style="margin: auto"> Add item </button>
            </div>
            <div class="col-md-3">
                <form method="get" action="/receipt">
                    <select multiple="multiple" id="selectedItems" name="items"> </select>
                    <input type="submit" value="Print Receipt" onclick="selectAll()" />
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>