<!DOCTYPE html>
<!--
  ~ (C) Copyright 2010-2018 hSenid Mobile Solutions (Pvt) Limited.
  ~ All Rights Reserved.
  ~
  ~ These materials are unpublished, proprietary, confidential source code of
  ~ hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
  ~ of hSenid Mobile Solutions (Pvt) Limited.
  ~
  ~ hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
  ~ property rights in these materials.
  -->

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/mainPage.css}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>| Hello |</title>
</head>
<body>
    <div id="wrapper">
        <form action="/showItem" method="get" >
            Enter item ID :
            <input type="text" name="itemId"/>
            <input type="submit" value="Get Item"/>
        </form>
        <br />
        <form action="/addItem" method="post" >
            Enter item Name and Price :
            <input type="text" name="itemName"/>
            <input type="text" name="itemPrice"/>
            <input type="submit" value="Add Item"/>
        </form>
        <br />
        <form action="/findItem" method="get">
            Enter item Name :
            <input type="text" name="itemName"/>
            <input type="submit" value="Find Item"/>
        </form>
        <br />
        <form action="/all" method="get">
            <input type="submit" value=" Show All Items "/>
        </form>
        <br />
    </div>

</body>
</html>