<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>| Hello |</title>
    <style>
        #wrapper {
            margin: 100px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <form action="/showItem" method="get">
            Enter item ID :
            <input type="text" name="itemId"/>
            <input type="submit" value="Get Item"/>
        </form>
        <br />
        <form action="/addItem" method="post">
            Enter item Name and Price :
            <input type="text" name="itemName"/>
            <input type="text" name="itemPrice"/>
            <input type="submit" value="Add Item"/>
        </form>
        <br />

    </div>

</body>
</html>